*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}

/* <!-------------------
-- top bennar --
--------------------> */
.bennar-imege-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    margin: 50px 140px;
    padding: 0px;
    align-items: center;
    border-radius:30px;
}
.bennar-imege img{
    width: 581px;
    height: 613px;
    margin: 33px 33px 0px 17px;
}
.bennar-text{
    margin-left: 110px;
}
.bennar-text h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
}
.bennar-text p{
    color: white;
    font-size: 20px;
}
.bennar-text button{
    background-color: #DD0000;
    border-radius: 5px;
    display: flex;
   text-align: center;
    margin-top: 20px;
    padding: 16px 25px;
}
.bennar-text button a{
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.bennar-text button:hover,
.bennar-text button:focus
{
 background-color: white;
}
.bennar-text button a:hover,
.bennar-text button a:focus
{
    color: #DD0000;
}

/* <!------------------
        -- kheloar news --
    --------------------> */
.kheloar-button{
    background-color: #161616;
    border-radius: 10px;
    width: 40%;
    height: 312px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}
.kheloar-button a{
    width: 252px;
    height: 64px;
    text-align: center;
    background-color: white;
    border: 1px black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 1000;
    color: #161616;
    display: block;
    margin:10px 25px 0 25px;
    padding-top: 25px;
    
}
#red{
    background-color: #DD0000;
}
#red a{
    color: white;
}
/* newss */
.kheloar-news{
    display: flex;
    gap: 24px;
    margin: 100px 140px;
}
.newss{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.news{
   background-color: white;
   border-radius: 10px;
   box-shadow: 1px 4px lightgray;
}
.news img{
    width: 100%;
}
.news-info button{
   width: 100px;
   height: 32px;
  margin: 10px 0 15px 10px;
   border-radius: 5px;
}
.news-info h4{
    font-size: 20px;
    margin: 0 10px 0 10px;
}
.clock-chat{
    display: flex;
    gap: 20px;
   margin: 15px 0 15px 50px;
   font-size: 20px;
}
.clock{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat{
    display: flex;
    align-items: center;
    gap: 10px;
}
.view-button{
    display: none;
}
/* some css in socond index */
.newses{
    box-shadow: 1px 1px lightgray;
    border-radius: 10px;
}
.news-imeges{
    display: flex;
    gap: 20px;
     padding: 30px 40px 0 40px;
     align-items: center;
}
.news-imeges img{
   width: 93px;
   height: 56px;
}
.newses-info h4{
    margin: 20px 0px 10px 0px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}
.newses-info p{
    margin: 20px 0px 0px 0px;
    text-align: center;
}
/*----------------------
       --footer--
 ----------------------- */
 footer{
    background-color: black;
    padding: 130px 315px;
 }
footer h1{
    color: white;
    text-align: center;
    margin-bottom: 70px;
}
footer hr{
    color: greenyellow;
    margin-bottom: 70px;
    
}
footer ul{
    color: #B9B9B9;
    display: flex;
    gap: 50px;
    list-style: none;
   justify-content: center;
}
.social-link{
    font-size: 30px;
   text-align: center;
   padding-top: 30px;
}
.social-link a{
  color:white ;
  padding:30px;
 
}

/*--------------------------------------
------ media query mobile version--------
---------------------------------------- */
@media screen and (max-width:767px){
body{
   margin: 0;
    }
.bennar-imege-text{
    margin: 20px;
    grid-template-columns:  1fr;
    align-items: center;
    padding-bottom: 5px;
    
}
.bennar-imege img {
    width: 80%;
    height: 80%;
    margin: 0;
    padding-left: 50px;
    padding-top: 15px;
}
.bennar-text{
    margin:28px 38px 0 38px;
    text-align: center;
}
.bennar-text h1{
    font-size: 24px;
    font-weight: 700;
    
}
.bennar-text p{
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.benner-pragraph{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.bennar-text button{
   width: 161px;
   height: 40px;
   padding: 8px 0px 9px 12px;
   text-align:center;
}
.bennar-text button a {
    font-size: 20px;
    transition: all 0.5s ease-out;
}
.bennar-text button:hover,
.bennar-text button:focus
{
 background-color: white;
}
.bennar-text button a:hover,
.bennar-text button a:focus
{
    color: #DD0000;
}
.kheloar-button{
    background-color: white;
    justify-content: center;
    padding-left: 30%;
    
}
.kheloar-button a{
    box-shadow: 2px 2px 2px 0px lightgrey;
}
.newss{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 20px;
   margin: 20px;
    }
.news-info{
    margin: 0;
} 
.view-button{
    display: none;
}
.kheloar-news{
    display: block;
   align-items: center;
    margin: 0;
    }
footer ul{
    display: block;
    text-align: center;
}
footer ul li{
    margin-bottom: 30px;
}
footer{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}
footer h1{
    margin: 0px 0px 30px 0;
    padding-top: 10px;
}
.social-link{
    font-size: 30px;
   text-align: center;
   padding-top: 0px;
   padding-bottom: 10px;
}
.social-link a{
  color:white ;
  padding-left:10px; 
}

}
/*-------------------------------------
----- media query tablet version-------
--------------------------------------- */
@media screen and (min-width:768px) and (max-width:1023px){
.bennar-imege-text{
    margin: 50px 50px 0 50px;
    padding: 0;
    align-items:unset;
}  
.bennar-text{
    margin-left: 50px;
}  
.bennar-text h1{
    font-size: 40px;
}   
.bennar-text p {
    font-size: 14px;
}

.bennar-imege img{
    width: 323px;
    height: 340px;
}
.kheloar-news{
    display: block;
    padding-top: 50px;
}
.kheloar-button{
    flex-direction: row;
    background-color: unset;
    width: auto;
    height: auto;
}
.kheloar-button a{
    box-shadow: 2px 2px 2px 0px lightgrey;
}
.newss{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.kheloar-news{
    margin: 0 50px;
}
.close{
    display: none;
}
.view-button{
    display: block;
    text-align: center;
    border-radius: 10px;
}
.view-button button{
    font-size: 25px;
    background-color: #DD0000;
    color:white;
    padding: 12px 29px 12px 29px;
    margin: 20px 0 ;
}
footer{
    padding: 0 97px 55px 97px;
}
footer ul{
    display: flex;
    gap: 24px;   
}
footer h1{
    padding-top: 30px;
}
.social-link{
    font-size: 50px;
   text-align: center;
}
.social-link a{
  color:white ;
  padding-left: 30px;
}
}
